
ion-segment {
  --background: var(--ion-color-light);
    border-radius: 999px;
}

ion-segment-button {
  --color: var(--ion-color-medium);
  --color-checked: var(--ion-color-black);
  --background-checked: var(--ion-color-secondary);
  --ripple-color: transparent;
  font-style: normal;
  border-radius: 999px;
  margin: 4px;
  text-transform: none;
  min-width: 96px;
}

.segmentLabel {
  white-space: normal;
  line-height: 1.2;
  font-size: 0.85rem;
}

.card {
  background-color: #f8f8f8;
  border-radius: 10px;
}

.text {
  margin: 8px 0;
  padding: 10px;
  color: gray;
}

.fontBold {
  font-weight: 700;
}

.regionBox {
  background-color: #f8f8f8;
  border-radius: 10px;
}

.leadBox {
  background-color: var(--ion-color-secondary-shade);
  border-radius: 10px;
  padding: 10px;
  color: #f8f8f8;
}

.list {
    padding-left: 16px;
}

.listItem {
    margin: 20px 0;
}

.line {
  border-top: 1px solid #bbb;
}

.distributionText {
  margin: 5px;
}

.icon {
  width: 1em;
  height: 1em;
}
