.contentWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.contentBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--ion-color-secondary);
  flex: 1;
}

.box1 {
  grid-area: 1 / 1 / 2 / 2;
}
.box2 {
  grid-area: 1 / 2 / 2 / 4;
}
.box3 {
  grid-area: 2 / 1 / 3 / 3;
}
.box4 {
  grid-area: 2 / 3 / 3 / 4;
}

.bold {
  font-weight: bolder;
}

.icon {
  margin: 16px;
}

