.card {
  background-color: #f8f8f8;
  border-radius: 10px;
}

.text {
  margin: 8px 0;
  padding: 10px;
  color: gray;
}

.fontBold {
  font-weight: 700;
}

.regionBox {
  background-color: #f8f8f8;
  border-radius: 10px;
}

.leadBox {
  background-color: var(--ion-color-secondary-shade);
  border-radius: 10px;
  padding: 10px;
  color: #f8f8f8;
}

.list {
    padding-left: 16px;
}

.listItem {
    margin: 20px 0;
}

.line {
  border-top: 1px solid #bbb;
}

.distributionText {
  margin: 5px;
}

.icon {
  width: 1em;
  height: 1em;
}
