.specieCard {
  height: 190px;
  position: relative;
  overflow: hidden; 
  margin: 0.2rem 0;
  border-radius: 0;
}

.contentWrapper {
  position: relative; 
  z-index: 2; 
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0,0,0,0) 80%);
}

.cardHeader {
    padding: 16px; 
}

.cardFont {
    font-family: var(--font-display);
    color: var(--color);
}


