@import url('https://fonts.googleapis.com/css2?family=Average&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');

ion-app,
ion-content {
  height: 100%;
  background: var(--ion-background-color);
  color: var(--app-text-color);
}
/* -------- FONTS -------- */
/* Bas */
body, p, span {
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Titles */
h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 2rem;
  font-weight: 700;
}

h2, h3 {
  font-family: "Average", serif;
  font-weight: 800;
}

h2 { font-size: 1.6rem; }
h3 { font-size: 1.3rem; }

h4 {
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

/* Global custom Ionic styles */
ion-title {
  font-family: "Playfair Display SC", serif;
  font-size: 1.5rem;
  font-weight: 700;
}

ion-label {
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.95rem;
}

ion-text {
  font-family: "Avenir", sans-serif;
}

ion-tab-button {
  --color: #000;
  --color-selected: #000;
  font-family: "Avenir", sans-serif;
}

ion-breadcrumb {
  --color: rgb(0, 0, 0);
  --color-active: rgb(0, 0, 0);
  --color-hover: rgb(0, 0, 0);
}

ion-modal {
  --z-index: 99999;
}

ion-input, ion-textarea, ion-searchbar {
  --caret-color: var(--ion-color-dark) !important;
}


ion-item.ion-focused {
  --highlight-color: var(--ion-color-dark) !important;
  --caret-color: var(--ion-color-dark) !important;
}

ion-input {
  --caret-color: var(--ion-color-dark) !important;
}

/* Custom CSS classes */
/* !important applied as Ionics "scoped" styles overrides the css otherwise. */
.language-action-sheet {
  --button-color: var(--ion-color-tertiary) !important;
  --button-background-selected: var(--ion-color-light) !important;
}

.custom-modal {
  --ion-color-primary: var(--ion-color-dark) !important;
}

.custom-alert {
  --background: var(--ion-color-light) !important;
  --backdrop-opacity: 0.6 !important;
}

.custom-alert .alert-button {
  color: var(--ion-color-dark) !important;
}

.custom-alert .alert-button-confirm {
  color: var(--color-selected) !important;
}

.alert-button-cancel, .alert-button, .alert-button-confirm {
  color: var(--ion-color-dark) !important;
}

.custom-alert .alert-button-cancel {
  color: var(--ion-color-danger) !important;
}

.custom-input:focus {
  caret-color: #000 !important;
}

/* Fonts - Custom CSS classes */
.font-avenir { font-family: var(--font-avenir); }
.font-display { font-family: var(--font-display); }
.font-average { font-family: var(--font-average); }