.container {
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-weight: 500;
  position: absolute;
  bottom: 30px;
  margin-left: 30px;
  color: var(--ion-color-primary);
}

.subtitle {
  margin: 0;
}

.heroSection {
  position: relative;
  margin: 16px;
}

.heroImage {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.contentSection {
  line-height: 1.6;
  padding: 16px;
  text-align: center;
}

.linebreaker {
    border-top: solid 1px var(--ion-color-secondary);
    max-width: 30%;
}

