.DateTimeModal {
  --width: 90%;
  --max-width: 350px;
  --height: fit-content;
  --border-radius: 16px;
}

.DateTimeModal::part(content) {
  box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.DatePicker {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
