.segment {
  margin: 16px;
}

.summaryContainer {
  gap: 10px;
  padding: 16px;
}

.statCard {
  background: rgba(var(--ion-color-primary-rgb), 0.8);
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.heading {
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), 
    url("/_SR38851-2.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  padding: 20px;
  min-height: 40vh;
  color: var(--ion-color-dark)
}
