.segment {
  margin: 16px;
}

.summaryContainer {
  gap: 10px;
  padding: 16px;
}

.statCard {
  background: rgba(var(--ion-color-secondary-rgb), 0.5);
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  /* border: 1px solid var(--ion-color-secondary); */
}

.heading {
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
    padding-bottom: 16px;
}
