.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  height: 80vh;
  grid-template-areas:
    "top top"
    "left right"
    "left right";
}

.gridItem {
  background-color: var(--ion-color-tertiary);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-height: 200px;
}

.gridItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  z-index: 1;
}

.heading {
  position: absolute;
  top: 16px;
  left: 1.2rem;
  right: 16px;
  z-index: 2;
  color: var(--ion-color-light);
  margin: 0;
  font-size: 2rem;
  font-family: "Average", serif;
  letter-spacing: 0.5px;
  pointer-events: none;
}

.gridItem:nth-child(1) {
  grid-area: top;
  border-radius: 25px 25px 0 0;
}

.gridItem:nth-child(2) {
  grid-area: left;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
}

.gridItem:nth-child(3) {
  grid-area: right;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.identifyItem {
  --border-radius: 25px;
  --background: var(--ion-color-medium);
  margin: 0;
  width: 100%;
}

.icon {
  height: 100%;
  width: 30%;
}

.fullWidthRow {
  grid-column: 1 / 3;
}
