.gridWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin: 8px;
}

.cardImage {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}

.card {
  margin: 0;
}

.cardIntro {
  padding: 10px;
  width: 100%;
  min-height: 120px;
}

.cardWrapper {
  position: relative;
  margin: 0;
  height: 100%;
  max-height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--ion-color-tertiary);
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.35) 0%,
      rgba(0, 0, 0, 0) 80%
    ),
    var(--ion-color-tertiary);
}

.cardHeader {
  padding: 10px 15px 5px 15px;
  color: var(--ion-color-light);
}

.cardFont {
  margin: 0;
  color: var(--ion-color-light);
}

ion-card-content.cardFont {
  padding: 0 15px 15px 15px;
  font-size: 0.9rem;
  line-height: 1.2;
}
