.button {
  color: var(--ion-tertiary);
  padding: 16px;
}

.googleButton {
  color: white;
  padding: 16px;
  padding-bottom: 0;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}

.divider {
  border-top: 1px solid #bbb;
  border-radius: 5px;
}
